@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(192, 192, 192);
  border-radius: 20px;
}

/*==========================================================*/
nav.menu {
  width: 100%;
  background-color: rgb(233, 233, 233);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  transition: 1s ease;
}

div.logo h2 {
  font-weight: lighter;
  color: rgb(139, 43, 139);
  transition: 1s ease;
}

div.nav-menu ul {
  display: flex;
  list-style: none;
}
div.nav-menu ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(117, 117, 117);
  padding: 10px;
  transition: 0.3s ease;
}
div.nav-menu ul li a:hover {
  background-color: rgb(139, 43, 139);
  color: white;
}

/*==========================================================*/
section.paisagem {
  width: 100%;
  height: 80%;
  background-image: url("../imagens/cancun.jpg");
  background-position: center center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.247);
  z-index: 900;
}
section.paisagem::before {
  content: "Cancún";
  position: absolute;
  color: white;
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*==========================================================*/
section.hoteis {
  width: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.247);
}

.grup-hotel {
  width: 550px;
  height: 300px;
  background-color: white;
  margin: 10px;
}

.text-hotel {
  display: flex;
  width: 100%;
  background-color: rgb(139, 43, 139);
  color: white;
  height: 30px;
  align-items: center;
  padding: 0 10px;
}

.img-hotel {
  height: 270px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 2px 3px 4px rgba(0, 0, 0, 0.247);
}

#hotel1 {
  background-image: url("../imagens/hotel1.jpg");
}

#hotel2 {
  background-image: url("../imagens/hotel2.jpg");
}

#hotel3 {
  background-image: url("../imagens/hotel3.jpg");
}

#hotel4 {
  background-image: url("../imagens/hotel4.jpg");
}

/*==========================================================*/
.pq-nos {
  width: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.247);
}

.mt {
  width: 300px;
  height: 200px;
  text-align: center;
}
.mt p {
  padding: 10px 0px;
  color: rgb(100, 100, 100);
}

.cicle-img {
  width: 150px;
  margin: 0 auto;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(157, 36, 168);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cicle-img img {
  width: 120px;
}

/*==========================================================*/
section.text, footer.text {
  background-color: rgb(139, 43, 139);
  color: #ccc;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer.text a {
  text-decoration: none;
  color: #ccc;
}
footer.text a:hover {
  text-decoration: underline;
}

/*==========================================================*/
/*Media*/
.bx {
  display: none;
}

.sub-menu {
  display: none;
}

@media (max-width: 920px) {
  .nav-menu {
    display: none;
  }
  /*Menu*/
  nav.menu {
    width: 100%;
  }
  /*Menu*/
  /*Menu Active*/
  .menu.active {
    background-color: rgb(77, 22, 77);
  }
  .menu.active h2 {
    color: white;
  }
  /*Menu Active*/
  /*Sub-menu*/
  .sub-menu {
    display: block;
    position: absolute;
    width: 100%;
    background-color: rgb(139, 43, 139);
    z-index: 999;
    top: -250%;
    transition: .6s ease;
  }
  .nav-menu-mobile {
    list-style: none;
    padding: 10px;
    line-height: 50px;
    font-size: 1.5em;
  }
  .nav-menu-mobile li {
    border-bottom: 1px solid #ccc;
  }
  .nav-menu-mobile a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
  }
  .nav-menu-mobile a:hover {
    text-decoration: underline;
  }
  /*Sub-menu*/
  /*Sub-menu Active*/
  .sub-menu.active {
    top: 80px;
  }
  /*Sub-menu Active*/
  /*Bx*/
  .bx {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }
  .bx::before {
    content: "";
    display: block;
    position: absolute;
    top: 57%;
    left: 12%;
    width: 75%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(139, 43, 139);
    transition: 1s ease;
  }
  .bx::after {
    content: "";
    display: block;
    position: absolute;
    top: 33%;
    left: 12%;
    width: 75%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(139, 43, 139);
    transition: 1s ease;
  }
  /*Bx*/
  /*Bx Active*/
  .bx-active::after {
    content: "";
    display: block;
    position: absolute;
    top: 55%;
    left: 15%;
    width: 75%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(220deg);
  }
  .bx-active::before {
    content: "";
    display: block;
    position: absolute;
    top: 57%;
    left: 12%;
    width: 75%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-220deg);
  }
  /*Bx Active*/
}
/*Media*//*# sourceMappingURL=style.css.map */